<app-header></app-header>

<section class="container">
  <h1>Candidats</h1>
  <section class="grid grid-cols-[repeat(auto-fill,minmax(240px,1fr))] gap-5">
    <div
      class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700"
      *ngFor="let candidate of candidates"
      appHoverEffect
      appTooltip="Consulter les informations de {{
        candidate.name | titlecase
      }}"
    >
      <div class="overflow-hidden max-h-[200px]">
        <img
          class="w-80 h-60 object-cover auto-fill rounded-t-lg"
          src="{{ candidate.profilePictureUrl }}"
          alt="{{ candidate.name | titlecase }} avatar"
        />
      </div>

      <div class="p-5">
        <a href="#">
          <p
            class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
          >
            {{ candidate.name | titlecase }}
          </p>
        </a>
        <p class="font-normal text-gray-700 dark:text-gray-400 mb-5">
          {{ candidate.bio | maxLength : 25 }}
        </p>

        <div class="flex justify-end items-center">
          <a routerLink="/candidate/{{ candidate.id }}" class="mr-5"
            >Voir plus</a
          >

          <a routerLink="/vote/{{ candidate.id }}" class="btn">Voter</a>
        </div>
      </div>
    </div>
  </section>
</section>

<app-footer></app-footer>
